*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
}
.container{
background-color: #23424A;
width: 100%;
}
.top-content{
    max-width: 900px;
    width: 60%;

    padding: 7em 0 0 6em;
    color: white;
    margin: 0 auto;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.3rem;
    margin-top: 1em;

}
.btn{
    margin-top: 2em;
    background-color: #38CFD9;
    color: #136C72;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 1em;
    border-radius: 100px;
    border: none;
    text-transform: uppercase;
    margin-bottom: 5em;

}

.btn:hover, .btn:focus{
    opacity: 0.75;
}