.box {
  width: 100px;
  height: 100px;
  border: 2px solid tomato;
  background-color: peachpuff;
  /* property name | duration | easing function | delay */
  transition: width 5s linear 0.1s;
  transition: width 5s linear 0.1s, background-color 5s ease-in-out 1s; /* can give in many properties together */
  transition: transform 2s; /* css e jei style shobar niche thakbe shetai kaj korbe */
}
.box:hover {
  width: 400px;
  background-color: red;
  transform: rotate(45deg) scale(1.5) translateX(150px);
}
