*{
    box-sizing: border-box;
}

body{
    background-color: chocolate;
}
h1, h2{
    text-align: center;
    background-color: aqua;
}

ul li{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
#purple{
    background-color: purple;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}