/* 31.(related step: 1-8) carrousel er backgrounnd channge korar jonno  (image-slider-carousel) */
/* but its not recomended at all karon bootstrap er version change hole tokhon r kaj korbena*/

/* .bg-info{
    background-color: aquamarine !important;
} */

/* 31. (related step: 1-8) nije customize korte hobe (company name onujayi color customize kore and carousel-slider theke (.bg-info) bad diye dibo and (.panda-bg-info-background) boshabo */
/* override korte hole age class banaye then override korbo.
 */
.panda-bg-info-background{
    background-color:  #FEEAE9;
}

/* 32. categories section er 1st column er background change */
.categories-bg-1{
    background : linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
/* 33. categories section er 2nd column er background change */
.categories-bg-2{
    background :linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%) ;
}

/* 34. categories section er 2nd column er background change */
.categories-bg-3{
    background : linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
/* 35. cateories class for image width */
.categories img{
    width:100px;
    height: 100px;
}

/* 36.shoes and backpack button color */
.panda-buy-button{
    background-color: #000000;
    color:#FFFFFF;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}

/* 38.carousel and footer button */
.panda-carousel-footer-btn{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    color:#FFFFFF;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}