 /* Module- 25-1: What is Dom, Connect your JS file with html file  */
h1{
    color: coral;
}

/* Module: 25-6: Styling dom properties, add and remove css class using JS */

/* we shouldn't do that unless its too much necessary */
.yellow-bg{
    background-color: yellowgreen !important;
}
.large-text{
    font-size: 2em;
}
.text-center{
    text-align: center;
}