/* module 6.6 */

nav>ul {
    /* > nav er porer immediate ul er css er kaj hobe but ei ul er porer immediate e kono change hobe na */
    display: flex;
}


/* module 6.6 */

nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}

nav li:hover {
    background-color: lightgray;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


/* module 6.6 */

nav>ul>li:hover>ul {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding: 0;
}

.dropdown li {
    padding: 0 10px;
    margin: 0;
}


/* module 6.6 */