*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;   
}

h1{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color:#957dad;
    font-family: 'Montserrat', sans-serif;
}

section{
    text-align: center;
    padding: 5%;
    padding-top: 0;
    height: 100vh;
}

button{
    margin: 5px;
    border-color: #957dad !important;
    color: #888888 !important;
    margin-bottom: 25px;
}

button:hover{
    background-color: #fec8d8 !important;
}

textarea{
    padding: 3rem;
    border: thick solid #957dad;
    position: fixed;
    right: 20%;
    left: 20%;
}